<div id="body">
  <div class="header">
    <h1>Pre-Assessment</h1>
  </div>
  
  <div class="container">
    <div class="content">
      <input (keyup)="getNum1($event.target.value)"> <span> + </span> <input (keyup)="getNum2($event.target.value)"> 
      <span> = </span> <span class="total"> {{ this.addTotal }} </span> <button (click)="add()"> Add</button>
    </div>
    <div class="content">
      <input (keyup)="getNum3($event.target.value)"> <span> - </span> <input (keyup)="getNum4($event.target.value)"> 
    <span> = </span> <span class="total"> {{ this.subTotal }} </span> <button (click)="subtract()"> Subtract</button>
    </div>
  </div>
</div>
